<% if goal.public || current_user.id == goal.user_id %>
  <li class='goal-info'>
    <% if @goal && @goal.id == goal.id %>
    <div class="edit-goal-form">
      <%= render 'goals/edit' %>
    </div>
    <% else %>
      <div class="goal-title">
        <% if current_user.id == goal.user_id  %>
          <a class='goal-complete-button' href="<%= user_goal_complete_url(user_id: goal.user_id, goal_id: goal.id) %>"><%= goal.complete ? '☑' : '☐' %></a>
        <% end %>
        <a href="<%= user_goal_url(id: goal.id, user_id: goal.user_id) %>">
          <h5 style="display: inline;"> <%= goal.title %></h5>
        </a>
      </div>
      <div class="goal-description"><%= goal.description %></div>
    <% end %>

    <div class="goal-date"><%= goal.created_at.httpdate %></div>

    <% if current_user.id == goal.user_id %>
      <div class="goal-buttons">
        <span class="goal-private">
          <%= goal.public ? 'public' : 'private' %>
        </span>
        <% if !@goal %>
          <a href="<%= edit_user_goal_url(user_id: goal.user_id, id: goal.id) %>">edit</a>
        <% end %>
        <form class="destroy-goal-form" action="<%= user_goal_url(user_id: goal.user_id, id: goal.id) %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" name="" value="delete">
        </form>
      </div>
    <% end %>

    <h6>Comments</h6>
    <% @current_goal = goal %>
    <ul class='goal-comment-section'>
      <%= render goal.comments.includes(:author) %>
    </ul>

    <%= render 'comments/new' %>
    <% @current_goal = nil %>
  </li>
<% end %>
